extends layout/_base
block content 
  .flex.items-center.justify-center.min-h-screen.rounded-md
    .w-full.max-w-lg.px-10.py-8.mx-auto.bg-gradient-to-r.from-indigo-500.via-purple-500.to-pink-500.shadow-xl.text-white
      .max-w-md.mx-auto.space-y-6
        .py-8.px-4.mx-auto.max-w-screen-xl(class='lg:py-16 lg:px-6')
          .mx-auto.max-w-screen-sm.text-center
            h1.mb-4.text-7xl.tracking-tight.font-extrabold.text-primary-600(class='lg:text-9xl text-white') 500
            p.mb-4.text-3xl.tracking-tight.font-bold.text-white(class='md:text-4xl') Internal Server Error.
            p.mb-4.text-lg.font-light.text-gray-500(class='text-white') We are already working to solve the problem. 