html
  head
    title Mastering Node.js
    link(rel="stylesheet", href="/styles/global.css")
  body
    include components/_navbar
    .container
      h1.page-title Mastering Node.js + TypeScript
    include components/_footer
